.mobile-file-explorer-page {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "IBMPlex";
}

.mobile-file-explorer-cont {
    position: relative;
    z-index: 5;
    height: 80%;
    width: 90%;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    box-shadow:
        inset 0 0 5px rgba(57, 255, 20, 0.6),
        /* Inner glow */
        0 0 3px #39FF14,
        /* Slight outer glow */
        0 0 8px rgba(57, 255, 20, 0.9),
        /* Medium outer glow */
        0 0 15px rgba(57, 255, 20, 0.8),
        /* Medium distant glow */
        0 0 30px rgba(57, 255, 20, 0.7);
    animation: mobileGrowIn 2s ease-in-out;
    box-sizing: border-box;
    border-radius: 10px;
}

.mobile-file-explorer-cont::-webkit-scrollbar {
    display: none;
}

.mobile-file-explorer-header {
    width: 100%;
    height: 20%;
    display: flex;
    animation: fadeIn 3s ease-in-out forwards;
    animation-delay: 1s;
    opacity: 0;
}

.mobile-file-explorer-body {
    position: absolute;
    display: grid;
    opacity: 0;
    grid-template-columns: repeat(3, 1fr);
    transition: opacity 0.3s ease-in-out;
    animation: fadeIn 3s ease-in-out;
    animation-delay: 1s;
    width: 100%;
}

.mobile-file-explorer-body.mobile-changing {
    position: absolute;
    display: grid;
    opacity: 1;
    grid-template-columns: repeat(3, 1fr);
    transition: opacity 0.3s ease-in-out;
    width: 100%;
}

.mobile-file-view-cont {
    position: absolute;
    z-index: 5;
    width: 90%;
    height: 80%;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}


.mobile-file-view-cont.mobile-changing {
    position: absolute;
    z-index: 5;
    width: 90%;
    height: 80%;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

.mobile-directory-header {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-size: 10vw;
}

.mobile-directory-txt {
    width: 80%;
    text-align: left;
    font-size: 1.7vw;
    transition: opacity 0.3s ease-in-out;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mobileGrowIn {
    0% {
        width: 0%;
        height: 1px;
    }

    50% {
        width: 90%;
        height: 1px;
    }

    100% {
        width: 90%;
        height: 80%;
    }
}