.mobile-item-cont {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

}


.mobile-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 10px;
}


.mobile-item-icon {
    width: auto;
    height: 8vh;
    object-fit: contain;
    transition: all 0.2s ease;
    margin-bottom: 10px; 
    margin-top: 20px;
}

.mobile-item:hover .mobile-item-icon {
    transform: scale(1.1);
}

.mobile-item:hover .mobile-item-name {
    text-shadow:
        0 0 0px #39FF14,
        /* Slight inner glow */
        0 0 0px rgba(57, 255, 20, 0.9),
        /* Medium outer glow */
        0 0 5px rgba(57, 255, 20, 0.8),
        /* Medium distant glow */
        0 0 5px rgba(57, 255, 20, 0.7);
}

.mobile-item-name {
    position: relative;
    font-size: 3.5vw;
    height: auto;
    transition: all 0.2s ease;
    text-align: center;
    text-overflow: ellipsis;
    max-width: 90%;
    overflow: hidden;
}
